.app {
  --red: #f00000;
  --lightest-gray: #f5f5f5;
  --light-gray: #c0c0c0;
  --gray: #737373;
  --dark-gray: #525252;
  --darkest-gray: #343434;

  --primary-color: var(--red);
  --background-color: white;
  --hover-color: var(--lightest-gray);
  --border-color: var(--gray);
  --font-color: var(--dark-gray);
  --alt-font-color: var(--dark-gray);

  padding: 25px;
  width: 350px;
  height: 550px;
  font-size: 14px;
  background-color: var(--background-color);
  color: var(--font-color);
}

.dark {
  --background-color: var(--darkest-gray);
  --hover-color: var(--dark-gray);
  --border-color: var(--light-gray);
  --font-color: white;
  --alt-font-color: var(--gray);
}
