.container {
  height: 460px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  p {
    overflow-y: auto;

    &:last-of-type {
      max-height: 325px;
      color: gray;
      font-style: italic;
      text-align: center;
      margin-top: 0;
    }
  }
}

.prompt {
  text-align: center;
  color: var(--alt-font-color);
}
